.introductionSegment {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.titleSegment{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);

}
.titleSegment h1{
    font-size: 80pt;

}

.enterSegment {
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translate(-50%, -50%);

}