.survey-container {
    width: 70%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.746);
    color: black;
    border-radius: 20px;
}

.selection-container {
    display: inline-block;
    margin: 30px;
    color: gray;
    font-size: 15pt;
}

input {
    cursor: pointer;
}

.run-container {
    top: 45%;
}

.selection-container-absolute {
    display: inline-block;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    color: gray;
    font-size: 15pt;
}